* {
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    padding: 0;
    border: 0;
    margin: 0;
    background: #2d3436;
}

.icons {
    position: absolute;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
    width: 99%;
}

.btn,
#fb,
#google,
#yt,
#twitch,
#insta,
#webapp,
#steam {
    display: inline-block;
    width: 90px;
    height: 90px;
    background: #f1f1f1;
    margin: 1em;
    border-radius: 30%;
    box-shadow: 0 5px 15px #00000070;
    overflow: hidden;
    position: relative;
    border-radius: 30%;
    color: #3498db;
}

.btn i,
#fb i,
#google i,
#yt i,
#twitch i,
#insta i,
#webapp i,
#steam i {
    text-align: center;
    font-size: 30px;
    line-height: 90px;
    transition: 0.2s linear;
}

.btn:hover i,
#fb:hover i,
#google:hover i,
#yt:hover i,
#twitch:hover i,
#insta:hover i,
#webapp:hover i,
#steam:hover i {
    transform: scale(1.3);
    color: #f1f1f1;
}

.btn::before,
#fb::before,
#google::before,
#yt::before,
#twitch::before,
#insta::before,
#webapp::before,
#steam::before {
    content: '';
    position: absolute;
    width: 120%;
    height: 120%;
    background: #3498db;
    transform: rotate(45deg);
    left: -120%;
    top: 90%;
}

#fb::before {
    background: #3F51B5;
}

#google::before {
    background: #009432;
}

#yt::before {
    background: #c0392b;
}

#twitch::before {
    background: #8e44ad;
}

#insta::before {
    background: #D35617;
}

#webapp::before {
    background: #e84393
}

#steam::before {
    background: #000000;
}

.btn:hover::before,
#fb:hover::before,
#google:hover::before,
#yt:hover::before,
#twitch:hover::before,
#insta:hover::before,
#webapp:hover::before,
#steam:hover::before {
    animation: frame 0.7s 1;
    top: -10%;
    left: -10%;
}

@keyframes frame {
    0% {
        left: -120%;
        top: 90%;
    }

    50% {
        left: 10%;
        top: -30%;
    }

    100% {
        top: -10%;
        left: -10%;
    }
}

#search-box {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40px;
    background: #2f3640;
    border-radius: 40px;
    padding: 10px;
}

#search-box:hover>.texto {
    width: 240px;
    padding: 0 6px;
}

#search-box:hover>.search-btn:hover {
    background: white;
}

#search-btn {
    color: #c0392b;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
}

.texto {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}

.submit-btn {
    display: none;
}

.creditos {
    position: absolute;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    border: none;
    padding: none;
    margin: none;
    left: 90%;
    bottom: 1%;
}

.search-box::content {
    width: 240px;
    padding: 0 6px;
}

.horas {
    position: absolute;
    top: 3%;
    right: 2%;
    font-size: 120%;
    font-weight: 300;
    font-family: roboto;
    color: #6c6c6c
}

.weatherwidget-io {
    position: absolute;
    -moz-transform: scale(0.9);
    left: -7%;
    width: 95%;
    -moz-transform: translate(0, 100, 0);
    border-radius: 25px;
}